$primary-color:#A99985;

@mixin box($ht,$wt){
	height:$ht;
	width:$wt;
}

//Basic layout

.container{
	background-color:$primary-color;
	display:flex;
	flex-direction:column;
	flex:1;
	justify-content:center;
	align-items:center;
}

//Search.js

.searchBox{
	background-color:#F8EFBA;
	width:15rem;
	@include box(3rem,18rem);
	border-top-right-radius:0.9rem;
	border-top-left-radius:0.9rem;
	border-bottom-left-radius:0.9rem;
	border-bottom-right-radius:0.9rem;

}

.searchArea{
	@include box(5.5rem,20rem);
	display:flex;
	flex-direction:column;
	align-items:center;
	max-height:50rem;
        position:absolute;	
	top:20;


}

.submitBtn{
	color:#ffffff;
	font-size:1.05rem;
}

.scrollViewInner{
	gap:5;
	margin-top:5;
	width:18rem;
	align-self:center;
}

.downloadText{
	font-size:1rem;
	color:#fff;
}

.segmentedBtns{
	bottom:-20;
	width:15rem;
}

.selectedBtn{
	background:#bbbbbb;
}


//Options.js

.options{
	@include box(30rem,21rem);
	display:flex;
	border-radius:2rem;
	background-color:#bbbbbb;
	margin-bottom:4;
	align-content:center;
	justify-content:center;
	margin-top:20px;
}

.optionsCard{
	background-color:#dfdfdf;
}

.optionstext{
	font-weight:bold;
	color:#01161E;
}
